<h1>Capydemia</h1>

<p>
	Мы получили запрос на изменение email-адреса аккаунта на
	{{env.DOMAIN}}.
</p>

<p>
	Если вы не пытались изменить почту, то можете проигнорировать данное письмо.
</p>

<a href="https://{{env.DOMAIN}}/profile/confirmEmail?code={{code}}">
	Подтвердить Email
</a>