<h1>Capydemia</h1>

<p>
	Мы получили запрос на изменение email-адреса аккаунта на
	{{env.DOMAIN}}, однако ваша почта уже связана с другим аккаунтом.
</p>

<p>
	Если вы не пытались изменить почту, то можете проигнорировать данное письмо.
</p>

<p>
	Если вы желаете объединить два аккаунта, обратитесь в поддержку через личный
	кабинет или почту
	<a href="mailto:support@{{env.DOMAIN}}">support@{{env.DOMAIN}}</a>.
</p>