<h1>Capydemia</h1>

<p>
	Мы получили запрос на восстановления пароля от вашего аккаунта на
	{{env.DOMAIN}}.
</p>

<p>
	Если вы не пытались восстановить пароль, то можете проигнорировать данное
	письмо.
</p>

<a href="https://{{env.DOMAIN}}/auth/recovery/new_password?code={{code}}">
	Восстановить пароль
</a>