* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: inherit;
	font-weight: inherit;
	font-style: inherit;
	font-size: inherit;
}

:root {
	--main-bg: white;
	--text: black;
	--text-header: black;
	--text-note: grey;
	--fill: #111111;
	--fill-sec: white;
	--fill-hoover:rgb(57, 57, 57);
	--button-text: white;
	--button-text-sec: black;
	--border: lightgrey;
	--border-sec: grey;
	--border-sec-hoover: rgb(28, 28, 28);
}

button {
	cursor: pointer;
}

body {
	width: 100dvw;
	height: 100dvh;
	display: flex;
	flex-direction: column;
}
