@font-face {
	font-family: "Montserrat";
	font-weight: 700;
	src:
		local("Montserrat"),
		url("/fonts/Montserrat-ExtraBold.ttf") format("truetype");
}

@font-face {
	font-family: "NunitoSans";
	src:
		local("Nunito Sans"),
		url("/fonts/NunitoSans.ttf") format("truetype");
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: inherit;
	font-weight: inherit;
	font-style: inherit;
	font-size: inherit;
}

:root {
	--main-bg: white;
	--text: black;
	--text-header: black;
	--text-note: rgb(102, 102, 102);
	--fill: rgb(17, 17, 17);
	--fill-secondary: white;
	--fill-hover: rgb(57, 57, 57);
	--button-text: white;
	--button-text-secondary: black;
	--border: rgb(210, 210, 210);
	--border-secondary: rgb(102, 102, 102);
	--border-secondary-hover: rgb(28, 28, 28);
	--error: rgb(194, 9, 9);
}

button {
	cursor: pointer;
}

body {
	width: 100dvw;
	height: 100dvh;
	display: flex;
	flex-direction: column;
	font-family: "NunitoSans";
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Montserrat";
}
